# Stream Processing
stream-processing/checkpoints/
stream-processing/.venv/
stream-processing/hadoop/

# Python stuff
__pycache__/
*.py[cod]
.venv/
venv/

# secrets
.env
*.local.yaml
k8s/config/11-secret.yaml
values-secret.yaml
rendered.yaml
ansible/secrets.yml

# editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# terraform
.terraform/
*.tfstate
*.tfstate.*
terraform/generated-inventory.yml

# ansible
ansible/kubeconfig-mes.yaml
*.kubeconfig

# spark
spark-warehouse/
metastore_db/
derby.log