# how a .env file might look like

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=CHANGE_ME

MINIO_APP_USER=mes-app
MINIO_APP_PASSWORD=CHANGE_ME

MINIO_DATA_BUCKET=mes-data
MINIO_CHECKPOINT_BUCKET=spark-checkpoints