Registry-Zugangsdaten (registry.<lars-kennung>-at-student-dhbw-mannheim-de.users.dhbw.site)
User: changeme
Pass: changeme

docker login registry.<lars-kennung>-at-student-dhbw-mannheim-de.users.dhbw.site -u changeme -p changeme
